<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Friends</title>
    </head>
    <body>
        <h1>My Friends</h1>
        <ul>
            <li th:each="friend : ${friends}">
                <span th:text="${friend.firstName + ' ' + friend.lastName}"></span>
            </li>
        </ul>
        
        <h1>Add new friend to list</h1>
    <form th:action="@{/addFriend}" method="post">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" placeholder="Enter first name" required>
        
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" placeholder="Enter last name" required>
        
        <button type="submit">Add Friend</button>
    </form>
    </body>
    </html>